# Python_Notes_002

## Variable Assignment

In [1]:
# Variable assignment works from left to right.
2 = x

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3335046871.py, line 2)

In [2]:
# Variables names must start with a letter or an underscore.
x = True
_y = False # No output means no error

In [3]:
# remainder of your variable name may consist of letters, numbers and underscores.
has_0_in_it = "Still Valid"

In [4]:
# Names are case sensitive.
x = 7
y = X*8

NameError: name 'X' is not defined

In [5]:
# There's no need to specify a data type.
num_1 = 2
print(type(num_1))

pi_1 = 3.14
print(type(pi_1))

name_1 = 'Jane Doe'
print(type(name_1))

bool_1 = False
print(type(bool_1))

non_1 = None
print(type(non_1))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [6]:
# You can assign multiple values to multiple variables.
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [7]:
# Dummy variable (_) can have any name,
a, b, _ = 1, 2, 3
print(a, b)

1 2

In [12]:
# the number of _ and number of remaining values must be equal.
a, b, _ = 1, 2, 3, 4

ValueError: too many values to unpack (expected 3)

In [8]:
# You can also assign a single value to several variables simultaneously.
a = b = c = 1
print(a, b, c)

1 1 1

In [9]:
# The above is also true for mutable types (like list, dict, etc.)
x = y = [7, 8, 9] # x and y are two different names for the same list object just created, [7, 8, 9]
x[0] = 13 # we are updating the value of the list [7, 8, 9] through one of its names, x in this case
print(y) # printing the value of the list using its other name

[13, 8, 9]

In [10]:
# Nested lists are also valid in python.
x = [1, 2, [3, 4, 5], 6, 7] # this is nested list
print(x[2])
print(x[2][1])

[3, 4, 5]
4

In [11]:
# Variables in Python do not have to stay the same type as which they were first defined
a = 2
print(a)

a = "New value"
print(a)

2
New value