## Python_Notes_006

### Sets

In [1]:
# Create a new set
a_set = set()
print(type(a_set))

<class 'set'>

In [2]:
# Empty curly braces '{}' does not create a set
b_set = {}
print(type(b_set))

<class 'dict'>

In [3]:
# The set() statement cannot be used to create an unempty set with more than one argument
a_set = set('a', 'b', 'c')
a_set

TypeError: set expected at most 1 argument, got 3

In [ ]:
# Instead use the curly braces '{}' 
a_set = {'a', 'b', 'c'}
print(a_set)
print(type(a_set))

In [ ]:
# Set elements are unique
a_set = {'a', 'b', 'c', 'b', 'd'}
a_set

In [4]:
# Convert list to set
a_list = ['a', 1, 'b', 2, 'c', 1, 'b']
a_set = set(a_list)
a_set

{1, 2, 'a', 'b', 'c'}

In [5]:
# The add() method adds an element into a set.
a_set.add(3)
a_set

{1, 2, 3, 'a', 'b', 'c'}

In [6]:
# The update() method adds multiple elements into a set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.update({4, 'd', 5, 'e'})
a_set

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e'}

In [7]:
# The remove() method removes an element from the set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.remove('b')
a_set

{1, 2, 3, 'a', 'c'}

In [8]:
# The remove() method raises and error if the element to be removed is not available in the set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.remove('d')
a_set

KeyError: 'd'

In [9]:
# The discard() method leaves the set unchanged if the element to be deleted is not available in the set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.discard('d')
a_set

{1, 2, 3, 'a', 'b', 'c'}

In [10]:
# Define two sets.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}

# print the sets.
print(a_set)
print(b_set)

{'c', 2, 3, 1, 'a', 'b'}
{'c', 2, 3, 4, 'd', 'a'}

In [11]:
# Find intersect of the two sets with &.
intersect1 = a_set & b_set
intersect1

{2, 3, 'a', 'c'}

In [12]:
# Find intersect of the two sets with intersection() method.
intersect2 = a_set.intersection(b_set)
intersect2

{2, 3, 'a', 'c'}

In [13]:
# The difference() method finds the difference between two sets.
print(a_set.difference(b_set))
print(b_set.difference(a_set))

{1, 'b'}
{4, 'd'}

In [14]:
# The subtraction operator can be used to achieve the same result.
print(a_set - b_set)
print(b_set - a_set)

{1, 'b'}
{4, 'd'}

In [15]:
# Set comparison.
print(a_set > b_set)
print(b_set > a_set)
print(a_set == b_set)

False
False
False

In [16]:
# The union() method combines all the elements in both sets.
a_set.union(b_set)

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [17]:
# The issuperset() method is used to check if a set is a superset of another set.
a_set.issuperset(b_set)

False

In [18]:
# The issubset() method is used to check if a set is a subset of another set.
a_set.issubset(b_set)

False

In [19]:
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}

In [20]:
# More examples.
print(set([1, 'b']).issubset(a_set))
print(set([1, 'b']).issubset(b_set))
print(a_set.issuperset([1, 'b']))
print(b_set.issuperset([1, 'b']))

True
False
True
False

In [21]:
# Comparison of min(), max() and sum() methods for a list and set.
a_list = [1,1,2,2,3,3,4,4,5,5] # A list
a_set = {1,1,2,2,3,3,4,4,5,5} # A set
print('The minimum number of a_list is', min(a_list))
print('The minimum number of a_set is', min(a_set))
print('The maximum number of a_list is', max(a_list))
print('The maximum number of a_set is', max(a_set))
print('The sum of a_list is', sum(a_list))
print('The sum of a_set is', sum(a_set))

The minimum number of a_list is 1
The minimum number of a_set is 1
The maximum number of a_list is 5
The maximum number of a_set is 5
The sum of a_list is 30
The sum of a_set is 15

In [22]:
# The index() method does not work in set since the set is unordered collection.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set[2]

TypeError: 'set' object is not subscriptable

In [23]:
# The copy() method returns a shallow copy of the original set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set)
b_set = a_set.copy()
print(b_set)

{'c', 2, 3, 1, 'a', 'b'}
{'c', 2, 3, 1, 'a', 'b'}

In [24]:
# Check if a_set changes when b_set is modified
b_set.add(4)
print(a_set)
print(b_set)

{'c', 2, 3, 1, 'a', 'b'}
{'c', 2, 3, 1, 4, 'a', 'b'}

In [25]:
# The clear() method removes all elements in the set returing an empty set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set)
a_set.clear()
print(a_set)

{'c', 2, 3, 1, 'a', 'b'}
set()

In [26]:
# The pop() method removes and returns an arbitrary set element.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set)
a_set.pop()
print(a_set)

{'c', 2, 3, 1, 'a', 'b'}
{2, 3, 1, 'a', 'b'}