## Python_Notes_006

### Sets

In [1]:
# Create an empty set.
a_set = set()
print(type(a_set))

<class 'set'>

In [2]:
# Empty curly braces '{}' does not create an empty set.
b_set = {}
print(type(b_set))

<class 'dict'>

In [3]:
# The set() statement cannot be used to create an unempty set with more than one argument.
a_set = set('a', 'b', 'c')
a_set

TypeError: set expected at most 1 argument, got 3

In [4]:
# Instead use the curly braces '{}'.
a_set = {'a', 'b', 'c'}

print(a_set)
print(type(a_set))

{'b', 'c', 'a'}
<class 'set'>

In [5]:
# Or use a list or tuple.
a_set = set(['a', 'b', 'c'])
b_set = set(('a', 'b', 'c'))

print(a_set)
print(b_set)

{'b', 'c', 'a'}
{'b', 'c', 'a'}

In [6]:
# Set elements are unique.
a_set = {'a', 'b', 'c', 'b', 'd'}
print(a_set)

{'b', 'c', 'd', 'a'}

In [7]:
# Convert list to set.
a_list = ['a', 1, 'b', 2, 'c', 1, 'b']
a_set = set(a_list)
print(a_set)

{1, 2, 'c', 'b', 'a'}

In [8]:
# The add() method adds an element into a set.
a_set = {'a', 'b', 'c', 'b', 'd'}
a_set.add(3)
print(a_set)

{3, 'c', 'b', 'd', 'a'}

In [9]:
# Try adding two elements.
a_set = {'a', 'b', 'c', 'b', 'd'}
a_set.add(3, 'd')
print(a_set)

TypeError: set.add() takes exactly one argument (2 given)

In [10]:
# The update() method adds multiple elements into a set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.update({4, 'd', 5, 'e'})
print(a_set)

{1, 2, 3, 'c', 4, 5, 'b', 'd', 'a', 'e'}

In [11]:
# The remove() method removes an element from the set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.remove('b')
print(a_set)

{1, 2, 3, 'c', 'a'}

In [12]:
# The remove() method raises and error if the element to be removed is not available in the set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.remove('d')
print(a_set)

KeyError: 'd'

In [13]:
# The discard() method leaves the set unchanged if the element to be deleted is not available in the set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
a_set.discard('d')
a_set

{1, 2, 3, 'a', 'b', 'c'}

In [14]:
# Find intersect of the two sets with &.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}
intersect1 = a_set & b_set # Elements in both sets
print(intersect1)

{2, 3, 'c', 'a'}

In [15]:
# Find intersect of the two sets with intersection() method.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}
intersect2 = a_set.intersection(b_set)
print(intersect2)

{2, 3, 'c', 'a'}

In [16]:
# The difference() method finds the difference between two sets.
difference1a = a_set.difference(b_set) # Elements in a_set but not in b_set
difference1b = b_set.difference(a_set) # Elements in b_set but not in a_set
print(difference1a)
print(difference1b)

{'b', 1}
{'d', 4}

In [17]:
# The subtraction operator can be used to achieve the same result.
difference2a = a_set - b_set
difference2b = b_set - a_set
print(difference2a)
print(difference2b)

{'b', 1}
{'d', 4}

In [18]:
#  The ^ operator finds both difference (a_set - b_set) and (b_set - a_set).
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}
difference3 = a_set ^ b_set
difference3

{1, 4, 'b', 'd'}

In [19]:
# Set comparison, differnt sets.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}
A_grt_B = a_set > b_set
B_grt_A = b_set > a_set
A_eqa_B = a_set == b_set
A_is_B = a_set is b_set
print(A_grt_B)
print(B_grt_A)
print(A_eqa_B)
print(A_is_B)

False
False
False
False

In [20]:
# Set comparison, similar sets.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {3, 2, 1, 'c', 'b', 'a'}
A_grt_B = a_set > b_set
B_grt_A = b_set > a_set
A_eqa_B = a_set == b_set
A_is_B = a_set is b_set
print(A_grt_B)
print(B_grt_A)
print(A_eqa_B)
print(A_is_B)

False
False
True
False

In [21]:
# Set comparison, diffrent lengths.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {3, 2, 1, 'c', 'b'}
A_grt_B = a_set > b_set
B_grt_A = b_set > a_set
A_eqa_B = a_set == b_set
A_is_B = a_set is b_set
print(A_grt_B)
print(B_grt_A)
print(A_eqa_B)
print(A_is_B)

True
False
False
False

In [22]:
# The 'is' comparison is only True when they are stored in the same memory position.
a_set = b_set = {1, 2, 3, 'a', 'b', 'c'}
A_grt_B = a_set > b_set
B_grt_A = b_set > a_set
A_eqa_B = a_set == b_set
A_is_B = a_set is b_set
print(A_grt_B)
print(B_grt_A)
print(A_eqa_B)
print(A_is_B)

False
False
True
True

In [23]:
# The union() method combines all the elements in both sets.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}
A_union_B = a_set.union(b_set)
print(A_union_B)

{1, 2, 3, 'c', 4, 'b', 'd', 'a'}

In [24]:
# The issuperset() method is used to check if a set is a superset of another set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 1, 'c', 'b'}
A_superset_B = a_set.issuperset(b_set)
print(A_superset_B)

True

In [25]:
# The issubset() method is used to check if a set is a subset of another set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 1, 'c', 'b'}
B_issubset_A = b_set.issubset(a_set)
print(B_issubset_A)

True

In [26]:
# More examples.
a_set = {1, 2, 3, 'a', 'b', 'c'}
b_set = {2, 3, 4, 'a', 'c', 'd'}
print(set([1, 'b']).issubset(a_set))
print(set([1, 'b']).issubset(b_set))
print(a_set.issuperset([1, 'b']))
print(b_set.issuperset([1, 'b']))

True
False
True
False

In [27]:
# Comparison of min(), max() and sum() methods for a list and set.
a_list = [1,1,2,2,3,3,4,4,5,5] # A list
a_set = {1,1,2,2,3,3,4,4,5,5} # A set
print('The minimum number of a_list is:', min(a_list))
print('The minimum number of a_set is:', min(a_set))
print('The maximum number of a_list is:', max(a_list))
print('The maximum number of a_set is:', max(a_set))
print('The sum of a_list is:', sum(a_list))
print('The sum of a_set is:', sum(a_set))

The minimum number of a_list is: 1
The minimum number of a_set is: 1
The maximum number of a_list is: 5
The maximum number of a_set is: 5
The sum of a_list is: 30
The sum of a_set is: 15

In [28]:
# The index() method does not work in set since the set is an unordered collection.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set[2])

TypeError: 'set' object is not subscriptable

In [29]:
# The copy() method returns a shallow copy of the original set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set)
b_set = a_set.copy()
print(b_set)

{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 'b', 'a'}

In [30]:
# Check if a_set changes when b_set is modified
b_set.add(4)
print(a_set)
print(b_set)

{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 4, 'b', 'a'}

In [31]:
# The clear() method removes all elements in the set returing an empty set.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set)
a_set.clear()
print(a_set)

{1, 2, 3, 'c', 'b', 'a'}
set()

In [32]:
# The pop() method removes and returns an arbitrary set element.
a_set = {1, 2, 3, 'a', 'b', 'c'}
print(a_set)
a_set.pop()
print(a_set)

{1, 2, 3, 'c', 'b', 'a'}
{2, 3, 'c', 'b', 'a'}