# Python_Notes_004

## Lists

In [1]:
# Create a list.
a_list = [2, 3, 4]
print(a_list)

[2, 3, 4]

In [2]:
# Lists can contain various items.
a_list = ['A string', 47, 123.232, 'x']
a_list

['A string', 47, 123.232, 'x']

In [3]:
# The length of the list.
len(a_list)

4

In [4]:
# Slicing a list is similar to strings.
a_list = ['one', 'two', 'three', 4, 5, 6]
a_list[1]

'two'

In [5]:
# Select item 2 to the end.
a_list[1:]

['two', 'three', 4, 5, 6]

In [6]:
# Select items 1 to 3.
a_list[:3]

['one', 'two', 'three']

In [7]:
# Select all items in slice step of 2 (1, 3, 5 indices).
a_list[::2]

['one', 'three', 5]

In [8]:
# Select all items in step size of 0 (Error, slice step must not be zero).
a_list[::0]

ValueError: slice step cannot be zero

In [9]:
# Reverse a list (selecting from last to first item).
a_list[::-1]

[6, 5, 4, 'three', 'two', 'one']

In [10]:
# Concatenate lists.
a_list + ['new']

['one', 'two', 'three', 4, 5, 6, 'new']

In [11]:
# Original list stays the same.
a_list

['one', 'two', 'three', 4, 5, 6]

In [12]:
# Original list changes with reassignment.
a_list = a_list + ['permanet']
a_list

['one', 'two', 'three', 4, 5, 6, 'permanet']

In [13]:
# Double the list.
a_list * 2

['one',
 'two',
 'three',
 4,
 5,
 6,
 'permanet',
 'one',
 'two',
 'three',
 4,
 5,
 6,
 'permanet']

In [14]:
# Doubling not permanent.
a_list

['one', 'two', 'three', 4, 5, 6, 'permanet']

In [15]:
# The append() method adds an item permanetly to the end of the list.
a_list = ['one', 'two', 'three', 4, 5]
a_list.append('use append')
a_list

['one', 'two', 'three', 4, 5, 'use append']

In [16]:
# The pop() method removes the item at the end of the list.
a_list.pop()
a_list

['one', 'two', 'three', 4, 5]

In [17]:
# Remove item at index 2.
a_list.pop(2)
a_list

['one', 'two', 4, 5]

In [18]:
# Assign to get item popped
item_popped = a_list.pop()
item_popped

5

In [19]:
# Error if index is exceeded.
a_list.pop(3)

IndexError: pop index out of range

In [20]:
# remove() method removes the first occurence of an item.
remove_list = ['a', 'b', 'c', 'd', 'b', 'e']
remove_list.remove('b')
remove_list

['a', 'c', 'd', 'b', 'e']

In [21]:
# The sort() method arranges the items sequentially (It is permanent).
new_list = ['a', 'z', 'b', 'y', 'c', 'x']
new_list.sort()
new_list

['a', 'b', 'c', 'x', 'y', 'z']

In [22]:
# The reverse() method arranges sequentially from the last item (It is permanent).
new_list.reverse()
new_list

['z', 'y', 'x', 'c', 'b', 'a']

In [23]:
# The reversed() method creates a reversed copy of a list.
new_list = ['a', 'b', 'c', 'd', 'e']
reversed_list = reversed(new_list)
print('Original list is:', new_list)
print('Reversed list is:', list(reversed_list))

Original list is: ['a', 'b', 'c', 'd', 'e']
Reversed list is: ['e', 'd', 'c', 'b', 'a']

In [24]:
# The count() method counts the number of times an item appears in a list.
new_list = [1, 2, 4, 3, 4, 5, 4, 6, 7, 8, 9, 4]
new_list.count(4)

4

In [25]:
# The index() method gets the index of the first appearance of an item in a list.
new_list.index(4)

2

In [26]:
# The insert() method inputs an item at the specified index in a list.
new_list.insert(5, 11)
new_list

[1, 2, 4, 3, 4, 11, 5, 4, 6, 7, 8, 9, 4]

In [27]:
# The max() method find the largest item in the list.
max(new_list)

11

In [28]:
# The min() method find the smallest item in the list.
min(new_list)

1

In [29]:
# The sum() method adds all the items in the list.
sum(new_list)

68

In [30]:
# The del() method removes the item at the indicated index in the list.
del(new_list[5])
new_list

[1, 2, 4, 3, 4, 5, 4, 6, 7, 8, 9, 4]

In [31]:
# The whole list can be deleted
del(new_list)
new_list

NameError: name 'new_list' is not defined

In [32]:
# The input() method prompts the user for an input.
text = input('Enter a string: ')
print('The text is', text)
print(type(text))

Enter a string:  year

The text is year
<class 'str'>

In [33]:
# Comparison operators.
a = 3.14
b = 1.72

# Greater than (>).
print('a > b is:', a > b)

a > b is: True

In [34]:
# Less than (<).
print('a < b is:', a < b)

a < b is: False

In [35]:
# Greater than or equal (>=).
print('a >= b is:', a >= b)

a >= b is: True

In [36]:
# less than or equal (<=).
print('a <= b is:', a <= b)

a <= b is: False

In [37]:
# Equal (==).
print('a == b is:', a == b)

a == b is: False

In [38]:
# Not equal (!=).
print('a != b is:', a != b)

a != b is: True

In [39]:
# Complex comparisons.
a = 3.14
b = 1.72
c = 9
d = 4
print(a > b and c > a)
print(b > c and d > a)
print(b < c or d > a)
print(not a == b)
print(not a == d)

True
False
True
True
True

In [40]:
# Modulus (%) gets the remainder of a division.
10 % 3

1

In [41]:
# Floor division (//) discards the remainter after a division.
10 // 3

3

In [42]:
# Exponentiation (**) raises an item to a number.
10 ** 3

1000

In [43]:
# Nesting lists.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# A list of lists creates a matrix
matrix = [list1, list2, list3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [44]:
# Select the first item.
matrix[0]

[1, 2, 3]

In [45]:
# Select first item of the first list in the matrix object.
matrix[0][0]

1