# Python_Notes_001

Python is an interpreted, object-oriented, high-level programming language with **dynamic semantics**. It was conceived in the late 1980s, and implementation was started in December 1989 by **Guido van Rossum**. It is used for Back End Development, Data Science and App development. Companies that use python include YouTube, Quora, Reddit, Instagram, and Spotify. A very easy way to install python is by using Anaconda which can be downloaded from: https://www.anaconda.com/download

## Python Hello World

In [1]:
# Hello, World in Python
print("Hello, World") # print()

Hello, World

In [3]:
# This is the printout without the print function
"Hello, World"

'Hello, World'

In [5]:
# Jupyter notebook always prints the last statement
"Hello, World"
'Hi all'

'Hi all'

## Data Types

In [8]:
# Integer
num = 5
print(num)
print(type(num))

5
<class 'int'>

In [10]:
# Float
pi = 3.14
print(pi)
print(type(pi))

3.14
<class 'float'>

In [12]:
# String
name = 'Jim'
print(name)
print(type(name))

Jim
<class 'str'>

In [14]:
# Boolean
yes = True
print(yes)
print(type(yes))

True
<class 'bool'>

In [16]:
# Empty value or null data type
value = None
print(value)
print(type(value))

None
<class 'NoneType'>

## Convert To Integer

In [19]:
# Convert to integer from float
pi = 3.14
print(int(pi))

3

In [21]:
# Convert to integer from string (Not possible)
name = 'Jim'
print(int(name))

ValueError: invalid literal for int() with base 10: 'Jim'

In [23]:
# Convert to integer from boolean
yes = True
print(int(yes))

1

## Convert To String

In [26]:
# Convert to string from integer
num = 5
print(str(num))

5

In [28]:
# This is the output without print
str(num)

'5'

In [30]:
# Convert to string from float
pi = 3.14
print(str(pi))

3.14

In [32]:
# This is the output without print
str(pi)

'3.14'

In [34]:
# Convert to string from Boolean
yes = True
print(str(yes))

True

In [36]:
# This is the output without print
str(yes)

'True'

## Arithmetic Operators

In [39]:
# Addition (+)
add_ope = 2 + 3
print(add_ope)

5

In [41]:
# Subtraction (-)
sub_ope = 5 - 2
print(sub_ope)

3

In [43]:
# Multiplication (*)
mul_ope = 2 * 3
print(mul_ope)

6

In [45]:
# Division (/)
div_ope = 6 / 2
print(div_ope)

3.0

In [47]:
# Use int function to get integer output
print(int(div_ope))

3

In [49]:
# Modulus (%) # Shows only the remainder
mod_ope = 5 % 2
print(mod_ope)

1

In [51]:
# Exponentiation (**)
exp_ope = 3 ** 2
print(exp_ope)

9

In [53]:
# Floor (//) # Gives division
flo_ope = 5 // 2
print(flo_ope)

2

## Assignment Operators

In [56]:
# Equal (=)
equ = 2
print(equ)

2

In [58]:
# Addition-Equal (+=)
num = 2
num += 3
print(num)
num = 2 # Redefine num
print(num + 3) # Equivelent

5
5

In [60]:
# Subtract-Equal (-=)
num = 5
num -= 3
print(num)
num = 5 # Redefine num
print(num - 3) # Equivelent

2
2

In [62]:
# Multiply-Equal (*=)
num = 2
num *= 3
print(num)
num = 2 # Redefine num
print(num * 3) # Equivelent

6
6

In [64]:
# Divide-Equal (/=)
num = 9
num /= 3
print(num)
num = 9 # Redefine num
print(num / 3) # Equivelent

3.0
3.0

## Comparison Operators

In [67]:
# Equal (==)
print(2 == 3)

False

In [69]:
# Not equal (!=)
print(2 != 3)

True

In [71]:
# Greater than (>)
print(2 > 3)

False

In [73]:
# Less than (<)
print(2 < 3)

True

In [75]:
# Greater than or equal to (>=)
print(2 >= 3)

False

In [77]:
# Less than or equal to (<=)
print(2 <= 3)

True

### Logical Operators

In [80]:
# and (Returns True if both statements are true)
print(2 < 5 and 2 > 10)

False

In [82]:
# or (Returns True if one of the statements is true)
print(2 < 5 or 2 > 10)

True

In [84]:
# not (Reverses the result, returns False if the result is true)
print(not(2 < 5 and 2 > 10))

True

### The Zen of Python
Long time Pythoneer Tim Peters succinctly channels the BDFL’s guiding principles 
for Python’s design into 20 aphorisms, only 19 of which have been written down.

1. Beautiful is better than ugly.
2. Explicit is better than implicit.
3. Simple is better than complex.
4. Complex is better than complicated.
5. Flat is better than nested.
6. Sparse is better than dense.
7. Readability counts.
8. Special cases aren't special enough to break the rules.
9. Although practicality beats purity.
10. Errors should never pass silently.
11. Unless explicitly silenced.
12. In the face of ambiguity, refuse the temptation to guess.
13. There should be one-- and preferably only one --obvious way to do it.
14. Although that way may not be obvious at first unless you're Dutch.
15. Now is better than never.
16. Although never is often better than *right* now.
17. If the implementation is hard to explain, it's a bad idea.
18. If the implementation is easy to explain, it may be a good idea.
19. Namespaces are one honking great idea -- let's do more of those!