# Python_Notes_005

## Tuples

In [1]:
# Create a tuple
tup = (1, 2, 3, 4, 5)
tup

(1, 2, 3, 4, 5)

In [2]:
# Check len of a tuple
len(tup)

5

In [3]:
# Tuples can also mix object types
tup = ('one', 2, 'III', 'four', 5)
tup

('one', 2, 'III', 'four', 5)

In [4]:
# Indexing just like we did in lists
tup[2]

'III'

In [5]:
# Slicing just like a list
tup[-1]

5

In [6]:
# The .index method returns the index of a value
tup.index('four')

3

In [7]:
# The .count method counts the number of times a value appears
tup = ('one', 2, 'III', 'one', 'four', 5, 'one')
tup.count('one')

3

In [8]:
# Concatenation of tuples
tuple_1 = ('one', 2, 'III', 'four', 5)
tuple_2 = tuple_1 + ('Hello World!', 2023)
tuple_2

('one', 2, 'III', 'four', 5, 'Hello World!', 2023)

In [9]:
# Tuples are immutable
tup = ('one', 2, 'III', 'four', 5)
tup[2] = 'three'

TypeError: 'tuple' object does not support item assignment

In [10]:
# Tuples can't grow, once created nothing can be added to it.
tup.append('six')

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
# Convert lists to tuples
conv_list = ['one', 2, 'III', 'four', 5]
conv_tup = tuple(conv_list)
print(conv_tup)
print(type(conv_tup))

('one', 2, 'III', 'four', 5)
<class 'tuple'>